<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script type="module" src='assets/js/talkcreate.js'></script>
    <script src='assets/js/autolink.js'></script>
    <title>Welcome to Team meet</title>
    
</head>
<body>

    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo"></a>
            </div>
            
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>

            <div class="nav__menu" id="nav-menu">
                <div class="nav__close" id="nav-close">
                    <i class='bx bx-x'></i>
                </div>

                <ul class="nav__list">
                    <!-- <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Blog</a></li> -->
                    <li class="nav__item"><a href="/" class="nav__link">Log out <i class="fa fa-sign-out-alt text-light"></i></a></li>
                    
                </ul>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home" id="home">
            <div class="home__container bd-grid">
                <div class="home__img">
                    <!-- <img src="assets/img/microsoft_teams_3_participants.png" alt="" data-speed="-2" class="move"> -->
                    <!-- <img src="assets/img/presentation.png" alt="" data-speed="2" class="move"> -->
                    <!-- <img src="assets/img/monitoring.png" alt="" data-speed="2" class="move"> -->
                    <img src="assets/img/microsoft_teams.png" alt="" data-speed="-2" class="move">
                    <!-- <img src="assets/img/individual_contributor.png" alt="" data-speed="-2" class="move"> -->
                    <!-- <img src="assets/img/video_calling.png" alt="" data-speed="2" class="move"> -->
                </div>

                <div class="home__data">
                    <h1 class="home__title">Welcome to<br> Teams meet</h1>
                    <p class="home__description">Meet, chat, call, and collaborate  <br>in just one place.</p>
                    <!-- <a href="#" class="home__button">Get Started</a> -->
                    <button onclick="location.href = '/teams'" ;
                    id="talkbutton" class="home__button" ><b>New video meet</b>
                    <i class="fa fa-video text-light"></i> </button> 
                    <p class="home__description"><br>OR<br>Create chat room by entering room's name</p>
                    <!-- <p class="home__description">Create room for universal chat<br> by entering room's name</p> -->
                    <form action="/chat" class="home__description">
                        <input id="room-name" name="room" type="text" placeholder="Room's name" required>
                        <button type="submit" class="home__button">Create chat Room&nbsp<i class="fa fa-comment-alt text-light"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </main>
  


    <!-- <form action="/chat" >
        <input id="room-name" name="room" type="text" required>
        <button type="submit">New Room</button>
    </form> -->
    <div class="col-12 text-center">
        <span class="form-text small text-danger" id='err-msg'></span>
    </div>
    <!-- <button id='create-room'  class="btn btn-circle rounded-50 btn-primary blue fa fa-video"> 
        <i class="large material-icons text-light"></i> Start call</button> -->
    <!-- <button onclick="location.href = '/teams'" ;
    id="talkbutton" class="home__button" >teams</button>  -->
</body>
</html>